{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">
	<h3 class="centrar-texto">About Us</h3>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__imagen">
			<img class="guy" src="{% static 'img/guy.png' %}" alt="imagen nosotros">
		</div>

		<div class="sobre-nosotros__texto">
			<h1>Our Story</h1>
			<p>
			The founding of Buildly was based on several startups that most of the original founding team worked on as well as the
			open source projects we built or contributed to for over the last 10 years.
			We are all passionate open source supporters and life long
			software developers and tech enthusiasts and have founded Buildly based our previous experience and as an
			evolution of our desire to focus on user experience and crafstmanship in every phase of software development.
			</p>
			<p>
			Not everyone understands what a microservice is, or what Kubernetes means or even how to pronounce it, but our team eats, sleeps and dreams this stuff.
			We can help you get set up with tools to start building and migrating to the cloud faster than you ever thought possible.
			</p>
			<div class="entrada__contenido">
				<h4 class="no-margin"></h4>
				<a href="/about/contact/" class="boton boton--secundario">Contact us</a>
			</div>
		</div>
	</div>


	<h3>Team</h3>

	<div class="card-group">
		<div class="card text-center border-light mb-3">
			<div class="image-cropper">
				<img src="{% static 'img/greg.jpg' %}" alt="img Team">
			</div>
			<div class="entrada__contenido">
				<h4 class="no-margin">Greg Lind</h4>
				<em>CHIEF EXECUTIVE OFFICER</em>
				<p>
					Greg has been working in software development since 1997 starting at a small web development shop in Portland, Oregon.
					He has a deep interest in open source software and improving the craftsmanship of software as well as access to it.
				</p>
			</div>
		</div>
		<div class="card text-center border-light mb-3">
			<div class="image-cropper">
				<img src="{% static 'img/karrla.png' %}" alt="img Team">
			</div>

			<div class="entrada__contenido">
				<h4 class="no-margin">Karrla Sandstrom</h4>
				<em>CHIEF OPERATING OFFICER</em>
				<p>
					Karrla is the conscience of Buildly and the one who says no to most of our crazy ideas, then makes her own much more sane suggestions that actually work. 20+ years in tech operations. A staunch supporter of the user. Loves collaboration across teams. When not in front of her laptop,
					you’ll find her near old growth trees with her dog.
				</p>
			</div>
		</div>
	</div>
	<div class="card-group">
		<div class="card text-center border-light mb-3">
			<div class="image-cropper">
				<img src="{% static 'img/jeffrey.png' %}" alt="img Team">
			</div>
			<div class="entrada__contenido">
				<h4 class="no-margin">Jeffrey Akita</h4>
				<em>Vice President of Marketing and Sales</em>
				<p>
					Jeffrey has many and varied background of experiences in sales and marketing,
					but is also very private and has decided that if your interested in learning more about
					him then reached out via email or LinkedIn, and he will tell you more after going through a platform demo.
				</p>
			</div>
		</div>
	</div>


{% endblock content %}
