{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">
	<h3 class="centrar-texto">About Us</h3>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__imagen">
			<img class="guy" src="{% static 'img/guy.png' %}" alt="imagen nosotros">
		</div>

		<div class="sobre-nosotros__texto">
			<p>Open Build helps small business and non-profits benefit from open source software, and connect with a team of developers.</p>
			<p>We recruit, hire and educate software developers from all over the world to use open source software, learn best practices and processes to build better software and build there own agencies and companies to help benefit there local communities.</p>
			<p>If your interested in learning more about how open source and open build can help your company or organization. Get in touch with us.</p>
			<div class="entrada__contenido">
				<h4 class="no-margin"></h4>
				<a href="/about/contact/" class="boton boton--secundario">Contact us</a>
			</div>
		</div>


	</div>
</main>





<div class="contenedor contenido-principal">
	<main class="About_us">
		<h3></h3>

		<article class="entrada">
			<h4 class="no-margin">Partners</h4>
			<div class="navegacion">
				<p></p>
				<img class="logo" src="{% static 'img/google-cloud-square.webp' %}" width="90" height="90" alt="img Team">
				<p></p>
				<img class="logo" src="{% static 'img/1200px-DigitalOcean_logo.svg.png' %}" width="80" height="80" alt="img Team">
				<p></p>
				<img class="logo" src="{% static 'img/buildly-rabbit-square-transparent.png' %}" width="75" height="70" alt="img Team">

			</div>
		</article>



	</main>

	<aside class="sidebar">
		<h3>Team</h3>

		<article class="entrada">
			<div class="entrada__imagen">
				<picture>
					<img class="circular--square" src="{% static 'img/angi.jpg' %}" alt="img Team">
				</picture>
			</div>

			<div class="entrada__contenido">
				<h4 class="no-margin">Angie Valderrama</h4>
				<a class="logo" href="https://www.linkedin.com/in/angie-valderrama-bb9182200/">
					<img class="logo" src="{% static 'img/linkeding.png' %}" width="20" height="20" alt="img Team">
				  </a>
				<p>Frontend developer a team player andcan work in a fast paced environment. I easily adapt to differentwork methodologies. I also have the ability to be self-taught in my training field</p>
			</div>
		</article>

		<article class="entrada">
			<div class="entrada__imagen">
				<picture>
					<img class="circular--square" src="{% static 'img/ana.png' %}" alt="img Team">
				</picture>
			</div>

			<div class="entrada__contenido">
				<h4 class="no-margin">Ana Roman</h4>
				<a class="logo" href="https://www.linkedin.com/in/angie-valderrama-bb9182200/">
					<img class="logo" src="{% static 'img/linkeding.png' %}" width="20" height="20" alt="img Team">
				  </a>
				<p>Software Development | BackEnd Developer | Databases | API´s .</p>
			</div>
		</article>

		<article class="entrada">
			<div class="entrada__imagen">
				<picture>
					<img class="circular--square" src="{% static 'img/hugo.jpg' %}" alt="img Team">
				</picture>
			</div>

			<div class="entrada__contenido">
				<h4 class="no-margin">Hugo Cortes</h4>
				<a class="logo" href="https://www.linkedin.com/in/hugo-cortes-m/">
					<img class="logo" src="{% static 'img/linkeding.png' %}" width="20" height="20" alt="img Team">
				  </a>
				<p>Frontend developer with a strong interest in projects that require both conceptual and analytical thinking. I am always eager to learn from  everyone.</p>
			</div>
		</article>

		<article class="entrada">
			<div class="entrada__imagen">
				<picture>
					<img class="team" src="{% static 'img/greg.jpg' %}" alt="img Team">
				</picture>
			</div>

			<div class="entrada__contenido">
				<h4 class="no-margin">Greg Lind</h4>
				<a class="logo" href="https://www.linkedin.com/in/greglind/">
					<img class="logo" src="{% static 'img/linkeding.png' %}" width="20" height="20" alt="img Team">
				  </a>
				<p>CEO and Co-Founder at Buildlyio focused on bringing open source development to product teams and communication to developers.</p>
			</div>
		</article>
	</aside>
</div>


{% endblock content %}
