{% extends "base.html" %}
{% load static %}
<!--Artist page included here -->

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/artist_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="main">
  <div class="main-text">

    <div class="open-source">
      <h1>New Artists</h1>
      <p>Coming soon</p>
    </div>

  </div>

  <section class="section1">
    <div class="videosoundcloud">
      <h1 class="nullrecords">Artist Radio</h1>
        <iframe width="400" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1369677841&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/myevilrobotarmy" title="MyEvilRobotArmy" target="_blank" style="color: #cccccc; text-decoration: none;">MyEvilRobotArmy</a> · <a href="https://soundcloud.com/myevilrobotarmy/sets/explorations" title="Explorations" target="_blank" style="color: #cccccc; text-decoration: none;">Explorations</a></div>
    </div>

    <div id="container">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, debitis impedit neque temporibus odio nisi maxime earum beatae ex, commodi tempore nobis similique nemo animi, deserunt reiciendis! Laboriosam, nemo maxime?</p>
      <ul id="slider">
        <li id="slide1">
          <p>Open Build can help you get your business up and running
            with cloud native open source software.</p>
        </li>
        <li id="slide2">
          <p>Start your own company, using free and open source tools
            and with affordable open source developers.</p>
        </li>
        <li id="slide3">
          <p>Our partner matching service, we will help you
            find a developer or development team to build your application.</p>
        </li>
      </ul>

      <ul class="menu">
        <li>
          <a href="#slide1"></a>
        </li>
        <li>
          <a href="#slide2"></a>
        </li>
        <li>
          <a href="#slide3"></a>
        </li>
      </ul>
    </div>
  </section>
</main>

{% endblock content %}