{% extends "base.html" %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">
    <h3 class="centrar-texto">Contact</h3>

    <div class="contacto-bg"></div>
    {% load crispy_forms_tags %}
    <form method="post">
        {%csrf_token%}
        {%if form%}

        <div class="row bg-white">
            {%for field in form%}
            <div class="col-md-6 p-2">{{field|as_crispy_field}}</div>
            {%endfor%}

        <div class="col-md-12">
        <ul class="list-inline text-right">
            <li class="list-inline-item">
                <button type="reset" class="btn btn-secondary">Reset</button>
                <button type="submit" class="btn btn-Success">Save</button>
            </li>
        </ul>
            </div>
             </div>
        {%endif%}

    </form>

</main>


{% endblock content %}
