{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">
	<h3 class="centrar-texto">Foundry</h3></br>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__texto">
			The Buildly and Open Build Foundry is a collection of open source tools, marketplace services, discounts, credits and process frameworks that helps startup and enterprise teams launch build and migrate applications to cloud native architectures and maintain them long term.

			<b>The Buildly Foundry and Open Build's partnership in it helps drive technical development by providing:</b>

			<ul>
			<li>Buildly’s easy to use cloud native architecture and a hosting service to build your new applications.</li>

			<li>Three months use of Buildly’s hosted product and release tools to keep managers, stakeholders and developers in sync with the state and progress of your application.</li>

			<li>Access to a network of Buildly certified development partners.</li>

			<li>Three months of technical guidance from Buildly’s Field CTOs.</li>

			<li>Access to cloud hosting credits, security audits and design and marketing resources.</li>
			</ul>
			<p>
			Grads of Buildly Foundry receive discounted rates on Buildly’s hosted product and release tools.

			Join the Buildly Foundry and spend your time focused on the vision of your application, and stop worrying about the technical problems.
			</p>
		</br>
			<a href="https://www.f6s.com/buildly-foundry-accelerator-2022/apply" class="boton boton--primario">Foundry Application</a>

		</div>

		<div class="sobre-nosotros__imagen">
            <img class="team" src="{% static 'img/team.png' %}" alt="img Partners">
		</div>
	</div>

</main>


{% endblock content %}
