{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">
	<h3 class="centrar-texto">Foundry</h3>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__texto">
			<p>
			The Buildly Foundry is a community driven effort availabe to select startups using the Insights tool.  It is a collection of open source tools, services, discounts, credits and process frameworks that helps startup and enterprise teams launch build and migrate applications to cloud native architectures and maintain them long term.
			</p>
			<b>The Buildly Foundry and Open Build's partnership in it helps drive technical development by providing:</b>

			<ul>
			<li>Buildly’s easy to use cloud native architecture and a hosting service to build your new applications.</li>

			<li>Three months free access to the Buildly Insights product and release tools to keep managers, stakeholders and developers in sync with the state and progress of your application.</li>

			<li>Access to a network of Buildly certified community development partners who can help with everything from marketing and sales, to hiring and recruiting a CTO or remote development team.</li>

			</ul>
			<p>
			Graduates of the Buildly Foundry receive discounted rates on Buildly’s hosted product and release tools.

			Join the Buildly Foundry and spend your time focused on the vision of your application, and stop worrying about the technical problems.
			</p>
			<a href="https://www.f6s.com/buildly-foundry-accelerator-2022/apply" class="boton boton--primario">Foundry Application</a>

		</div>

		<div class="sobre-nosotros__imagen">
            <img src="{% static 'img/team.png' %}" alt="img Partners">
		</div>
	</div>

</main>


{% endblock content %}
