{% extends "base_español.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/inicio_page.css' %}">
{% endblock extra_css %}

{% block content %}

<!--  -->
  <div style="background: url('/static/img/COL4.png'); background-size: cover; height: 70rem; background-position: center center; background-repeat: no-repeat;">
    <div class="header__texto">
        <h2 class="no-margin">Innovemos</h2>
        <h4 class="no-margin">juntos</h4>
    </div>
  </div>
  <div class="contenedor contenido-principal">
    <main class="About_us">
        <h3></h3>

        <article class="entrada">
            <div class="entrada__imagen">

            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">Codigo abierto</h4>
                <p>Open Build ayuda a las pequeñas empresas y organizaciones sin fines de lucro, asesorando y conectando con un equipo de desarrolladores. Continuando con la filosofía del software libre de código abierto.</p>
                <a href="/about/" class="boton boton--primario">Más Info</a>
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">STEM Enseñanza y Formación</h4>
                <p>Con Open Build siendo un miembro activo en la comunidad de codigo abierto.</p>
                <a href="/news/" class="boton boton--primario">Más Info</a>
            </div>
        </article>

    </main>
    <aside class="sidebar">
        <h3></h3>

        <ul class="cursos no-padding">
            <li class="widget-curso">
                <h4 class="no-margin">Apóyanos</h4>
                <br>
                <script>(function() { var d = document, fr = d.createElement('script'); fr.type = 'text/javascript'; fr.async = true; fr.src = 'https://static.fundrazr.com/widgets/loader.js'; var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fr, s);})();</script>
                <div class="fr-widget" data-type="badge" data-variant="rectangle" data-width="300" data-url="https://fnd.us/524nDf"><a href="https://fundrazr.com" target="_blank"><img src="//static.fundrazr.com/widgets/powered-by.png" alt="Powered by FundRazr" /></a></div>
            </li>

        </ul>
    </aside>
  </div>

{% endblock content %}
