{% extends "base_español.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/inicio_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">
	<h3 class="centrar-texto">Sobre nosotros</h3>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__imagen">
			<img class="guy" src="{% static 'img/novedad.png' %}" alt="imagen nosotros">
		</div>

		<div class="sobre-nosotros__texto">
			<p>Open Build ayuda a las pequeñas empresas y organizaciones sin fines de lucro a beneficiarse del software de código abierto y conectarse con un equipo de desarrolladores.</p>
			<p>Reclutamos, contratamos y educamos a desarrolladores de software de todo el mundo para que usen software de código abierto, aprendan las mejores prácticas y procesos para crear un mejor software y crear sus propias agencias y empresas para ayudar a beneficiar a sus comunidades locales.</p>
			<p>Si está interesado en obtener más información sobre cómo el código abierto y la compilación abierta pueden ayudar a su empresa u organización. Póngase en contacto con nosotros.</p>
			<div class="entrada__contenido">
				<h4 class="no-margin"></h4>
				<a href="/about/contact/" class="boton boton--secundario">Contactanos</a>
			</div>
		</div>


	</div>
</main>

		<main class="contenedor">
			<h3 class="centrar-texto">Partners</h3>
			<div class="sobre-nosotros">
			 <div class="navegacion">
				<p></p>
				<img class="logopartners" src="{% static 'img/google-cloud-square.webp' %}" width="90" height="90" alt="img Team">
				<p></p>
				<img class="logopartners" src="{% static 'img/1200px-DigitalOcean_logo.svg.png' %}" width="80" height="80" alt="img Team">
				<p></p>
				<img class="logopartners" src="{% static 'img/buildly-rabbit-square-transparent.png' %}" width="75" height="70" alt="img Team">
			 </div>

			 <div class="sobre-nosotros__texto">
				<div class="entrada__contenido">
					<h4></h4>
					<a href="/about/contact/" class="boton boton--secundario">Unete a nuestro equipo</a>
				</div>
			 </div>
		   </div>
		</main>


	<div class="team-cards">
		<h3 class="centrar-texto">Equipo</h3>
	</div>


	<div class="container-card">

	<div class="card">
	  <figure>
		<img src="{% static 'img/angi.jpg' %}">
	  </figure>
	  <div class="contenido-card">
		<h3>Angie Valderrama</h3>
		<p>Desarrolladora frontend trabajo bien en equipo y puedo trabajar en un entorno de ritmo rápido.  Tengo la capacidad de ser autodidacta en mi campo de formación.</p>
		<a href="https://www.linkedin.com/in/angie-valderrama-bb9182200/">Linkedin</a>

	  </div>
	</div>

	<div class="card">
	  <figure>
		<img src="{% static 'img/ana.png' %}">
	  </figure>
	  <div class="contenido-card">
		<h3>Ana Roman</h3>
		<p>Software Developer en aprendizaje continuo.
			Las tecnologías emergentes me apasionan, incluso los sistemas más complejos, esto me motiva a crecer y optimizar el mundo.</p>
		<a href="https://www.linkedin.com/in/angie-valderrama-bb9182200/">Linkedin</a>
	  </div>
	</div>

	<div class="card">
	  <figure>
		<img src="{% static 'img/HugoSe.jpg' %}">
	  </figure>
	  <div class="contenido-card col-4">
		<h3>Hugo Cortés</h3>
		<p>Desarrollador frontend con un fuerte interés en proyectos que requieren pensamiento tanto conceptual como analítico. Abierto a nuevos retos de aprendizaje.</p>
		<a href="https://www.linkedin.com/in/hugo-cortes-m/">Linkedin</a>
	  </div>
	</div>
  </div>

  <div class="container-card">

	<div class="card">
	  <figure>
		<img src="{% static 'img/GregSquare.jpeg' %}">
	  </figure>
	  <div class="contenido-card">
		<h3>Greg Lind</h3>
		<p>Director ejecutivo y cofundador de Buildlyio me centró en llevar el desarrollo de código abierto a los equipos de desarrollo de productos y la comunicación a los desarrolladores.</p>
		<a href="https://www.linkedin.com/in/greglind/">Linkedin</a>
	  </div>
	</div>

	<div class="card">
	  <figure>
		<img src="{% static 'img/marinateam.JPG' %}">
	  </figure>
	  <div class="contenido-card">
		<h3>Marina Mishchenko</h3>
		<p>Apoyo al CEO en la gestión de cronogramas e hitos para varias organizaciones; asegurando que los hitos semanales del proyecto sean rastreados y cumplidos. </p>
		<a href="https://www.linkedin.com/in/marina-mishchenko-058108200/">Linkedin</a>
	  </div>
	</div>

	<div class="card">
	  <figure>
		<img src="{% static 'img/peterTeam.png' %}">
	  </figure>
	  <div class="contenido-card col-4">
		<h3>Peter Odeny</h3>
		<p>CTO y cofundador de PevySpace. Un mentor y un ingeniero de software full-stack con enfoque en soluciones de datos.</p>
		<a href="https://www.linkedin.com/in/peter-odeny-a5b19697/">Linkedin</a>
	  </div>
	</div>
  </div>




{% endblock content %}
