{% extends "base_español.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/inicio_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">
	<h3 class="centrar-texto">Sobre nosotros</h3>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__imagen">
			<img class="guy" src="{% static 'img/novedad.png' %}" alt="imagen nosotros">
		</div>

		<div class="sobre-nosotros__texto">
			<p>Open Build ayuda a las pequeñas empresas y organizaciones sin fines de lucro a beneficiarse del software de código abierto y conectarse con un equipo de desarrolladores.</p>
			<p>Reclutamos, contratamos y educamos a desarrolladores de software de todo el mundo para que usen software de código abierto, aprendan las mejores prácticas y procesos para crear un mejor software y crear sus propias agencias y empresas para ayudar a beneficiar a sus comunidades locales.</p>
			<p>Si está interesado en obtener más información sobre cómo el código abierto y la compilación abierta pueden ayudar a su empresa u organización. Póngase en contacto con nosotros.</p>
			<div class="entrada__contenido">
				<h4 class="no-margin"></h4>
				<a href="/about/contact/" class="boton boton--secundario">Contactanos</a>
			</div>
		</div>


	</div>
</main>

		<main class="contenedor">
			<h3 class="centrar-texto">Partners</h3>
			<div class="sobre-nosotros">
			 <div class="navegacion">
				<p></p>
				<img class="logopartners" src="{% static 'img/google-cloud-square.webp' %}" width="90" height="90" alt="img Team">
				<p></p>
				<img class="logopartners" src="{% static 'img/1200px-DigitalOcean_logo.svg.png' %}" width="80" height="80" alt="img Team">
				<p></p>
				<img class="logopartners" src="{% static 'img/buildly-rabbit-square-transparent.png' %}" width="75" height="70" alt="img Team">
			 </div>
		
			 <div class="sobre-nosotros__texto">
				<div class="entrada__contenido">
					<h4></h4>
					<a href="/about/contact/" class="boton boton--secundario">Unete a nuestro equipo</a>
				</div>
			 </div>
		   </div>
		</main>


	<main class="contenedor">
		<h3 class="centrar-texto">Team</h3>

		<div class="sobre-nosotros">
			<div class="entrada__imagen">
				<picture>
					<img class="circular--square" src="{% static 'img/angi.jpg' %}" alt="img Team">
				</picture>
				<div class="entrada__contenido">
					<h4 class="no-margin">Angie Valderrama</h4>
					<a class="logo" href="https://www.linkedin.com/in/angie-valderrama-bb9182200/">
						<img class="logoteam" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTTI0LDRINkM0Ljg5NSw0LDQsNC44OTUsNCw2djE4YzAsMS4xMDUsMC44OTUsMiwyLDJoMThjMS4xMDUsMCwyLTAuODk1LDItMlY2QzI2LDQuODk1LDI1LjEwNSw0LDI0LDR6IE0xMC45NTQsMjJoLTIuOTUgdi05LjQ5MmgyLjk1VjIyeiBNOS40NDksMTEuMTUxYy0wLjk1MSwwLTEuNzItMC43NzEtMS43Mi0xLjcyYzAtMC45NDksMC43Ny0xLjcxOSwxLjcyLTEuNzE5YzAuOTQ4LDAsMS43MTksMC43NzEsMS43MTksMS43MTkgQzExLjE2OCwxMC4zOCwxMC4zOTcsMTEuMTUxLDkuNDQ5LDExLjE1MXogTTIyLjAwNCwyMmgtMi45NDh2LTQuNjE2YzAtMS4xMDEtMC4wMi0yLjUxNy0xLjUzMy0yLjUxNyBjLTEuNTM1LDAtMS43NzEsMS4xOTktMS43NzEsMi40MzdWMjJoLTIuOTQ4di05LjQ5MmgyLjgzdjEuMjk3aDAuMDRjMC4zOTQtMC43NDYsMS4zNTYtMS41MzMsMi43OTEtMS41MzMgYzIuOTg3LDAsMy41MzksMS45NjYsMy41MzksNC41MjJWMjJ6Ij48L3BhdGg+PC9zdmc+"
						 alt="img Team">
					  </a>
					  <p>Desarrolladora frontend un jugador de equipo y puede trabajar en un entorno de ritmo rápido. Me adapto fácilmente a diferentes metodologías de trabajo. También tengo la capacidad de ser autodidacta en mi campo de formación.</p>
					</div>
			</div>
	
			<div class="sobre-nosotros__texto">
				<div class="entrada__imagen">
					<picture>
						<img class="circular--square" src="{% static 'img/ana.png' %}" alt="img Team">
					</picture>
					<div class="entrada__contenido">
						<h4 class="no-margin">Ana Roman</h4>
						<a class="logo" href="https://www.linkedin.com/in/angie-valderrama-bb9182200/">
							<img class="logoteam" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTTI0LDRINkM0Ljg5NSw0LDQsNC44OTUsNCw2djE4YzAsMS4xMDUsMC44OTUsMiwyLDJoMThjMS4xMDUsMCwyLTAuODk1LDItMlY2QzI2LDQuODk1LDI1LjEwNSw0LDI0LDR6IE0xMC45NTQsMjJoLTIuOTUgdi05LjQ5MmgyLjk1VjIyeiBNOS40NDksMTEuMTUxYy0wLjk1MSwwLTEuNzItMC43NzEtMS43Mi0xLjcyYzAtMC45NDksMC43Ny0xLjcxOSwxLjcyLTEuNzE5YzAuOTQ4LDAsMS43MTksMC43NzEsMS43MTksMS43MTkgQzExLjE2OCwxMC4zOCwxMC4zOTcsMTEuMTUxLDkuNDQ5LDExLjE1MXogTTIyLjAwNCwyMmgtMi45NDh2LTQuNjE2YzAtMS4xMDEtMC4wMi0yLjUxNy0xLjUzMy0yLjUxNyBjLTEuNTM1LDAtMS43NzEsMS4xOTktMS43NzEsMi40MzdWMjJoLTIuOTQ4di05LjQ5MmgyLjgzdjEuMjk3aDAuMDRjMC4zOTQtMC43NDYsMS4zNTYtMS41MzMsMi43OTEtMS41MzMgYzIuOTg3LDAsMy41MzksMS45NjYsMy41MzksNC41MjJWMjJ6Ij48L3BhdGg+PC9zdmc+"
							alt="img Team">
						  </a>
						<p>Software Development, BackEnd, Databases and API´s.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	
	<main class="contenedor">
		<h3 class="centrar-texto"></h3>
	
		<div class="sobre-nosotros">
			<div class="entrada__imagen">
				<picture>
					<img class="circular--square" src="{% static 'img/hugo.jpg' %}" alt="img Team">
				</picture>
				<div class="entrada__contenido">
					<h4 class="no-margin">Hugo Cortes</h4>
					<a class="logo" href="https://www.linkedin.com/in/hugo-cortes-m/">
						<img class="logoteam" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTTI0LDRINkM0Ljg5NSw0LDQsNC44OTUsNCw2djE4YzAsMS4xMDUsMC44OTUsMiwyLDJoMThjMS4xMDUsMCwyLTAuODk1LDItMlY2QzI2LDQuODk1LDI1LjEwNSw0LDI0LDR6IE0xMC45NTQsMjJoLTIuOTUgdi05LjQ5MmgyLjk1VjIyeiBNOS40NDksMTEuMTUxYy0wLjk1MSwwLTEuNzItMC43NzEtMS43Mi0xLjcyYzAtMC45NDksMC43Ny0xLjcxOSwxLjcyLTEuNzE5YzAuOTQ4LDAsMS43MTksMC43NzEsMS43MTksMS43MTkgQzExLjE2OCwxMC4zOCwxMC4zOTcsMTEuMTUxLDkuNDQ5LDExLjE1MXogTTIyLjAwNCwyMmgtMi45NDh2LTQuNjE2YzAtMS4xMDEtMC4wMi0yLjUxNy0xLjUzMy0yLjUxNyBjLTEuNTM1LDAtMS43NzEsMS4xOTktMS43NzEsMi40MzdWMjJoLTIuOTQ4di05LjQ5MmgyLjgzdjEuMjk3aDAuMDRjMC4zOTQtMC43NDYsMS4zNTYtMS41MzMsMi43OTEtMS41MzMgYzIuOTg3LDAsMy41MzksMS45NjYsMy41MzksNC41MjJWMjJ6Ij48L3BhdGg+PC9zdmc+"
						alt="img Team">
					  </a>
					  <p>Desarrollador frontend con un fuerte interés en proyectos que requieren pensamiento tanto conceptual como analítico. Siempre tengo muchas ganas de aprender de todos.</p>
					</div>
			</div>
	
			<div class="sobre-nosotros__texto">
				<div class="entrada__imagen">
					<picture>
						<img class="circular--square" src="{% static 'img/greg.jpg' %}" alt="img Team">
					</picture>
					<div class="entrada__contenido">
						<h4 class="no-margin">Greg Lind</h4>
						<a class="logo" href="https://www.linkedin.com/in/greglind/">
							<img class="logoteam" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTTI0LDRINkM0Ljg5NSw0LDQsNC44OTUsNCw2djE4YzAsMS4xMDUsMC44OTUsMiwyLDJoMThjMS4xMDUsMCwyLTAuODk1LDItMlY2QzI2LDQuODk1LDI1LjEwNSw0LDI0LDR6IE0xMC45NTQsMjJoLTIuOTUgdi05LjQ5MmgyLjk1VjIyeiBNOS40NDksMTEuMTUxYy0wLjk1MSwwLTEuNzItMC43NzEtMS43Mi0xLjcyYzAtMC45NDksMC43Ny0xLjcxOSwxLjcyLTEuNzE5YzAuOTQ4LDAsMS43MTksMC43NzEsMS43MTksMS43MTkgQzExLjE2OCwxMC4zOCwxMC4zOTcsMTEuMTUxLDkuNDQ5LDExLjE1MXogTTIyLjAwNCwyMmgtMi45NDh2LTQuNjE2YzAtMS4xMDEtMC4wMi0yLjUxNy0xLjUzMy0yLjUxNyBjLTEuNTM1LDAtMS43NzEsMS4xOTktMS43NzEsMi40MzdWMjJoLTIuOTQ4di05LjQ5MmgyLjgzdjEuMjk3aDAuMDRjMC4zOTQtMC43NDYsMS4zNTYtMS41MzMsMi43OTEtMS41MzMgYzIuOTg3LDAsMy41MzksMS45NjYsMy41MzksNC41MjJWMjJ6Ij48L3BhdGg+PC9zdmc+"
							alt="img Team">
						  </a>
						  <p>Director ejecutivo y cofundador de Buildlyio me centró en llevar el desarrollo de código abierto a los equipos de desarrollo de productos y la comunicación a los desarrolladores.</p>
						</div>
				</div>
			</div>
		</div>
	</main>
	
	<main class="contenedor">
		<h3 class="centrar-texto"></h3>
	
		<div class="sobre-nosotros">
	
			<div class="sobre-nosotros__texto">
				<div class="entrada__imagen">
					<picture>
						<img class="circular--square" src="{% static 'img/marina.png' %}" alt="img Team">
					</picture>
					<div class="entrada__contenido">
						<h4 class="no-margin">Marina Mishchenko</h4>
						<a class="logo" href="https://www.linkedin.com/in/marina-mishchenko-058108200/">
							<img class="logoteam" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzAiIGhlaWdodD0iMzAiCnZpZXdCb3g9IjAgMCAzMCAzMCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTTI0LDRINkM0Ljg5NSw0LDQsNC44OTUsNCw2djE4YzAsMS4xMDUsMC44OTUsMiwyLDJoMThjMS4xMDUsMCwyLTAuODk1LDItMlY2QzI2LDQuODk1LDI1LjEwNSw0LDI0LDR6IE0xMC45NTQsMjJoLTIuOTUgdi05LjQ5MmgyLjk1VjIyeiBNOS40NDksMTEuMTUxYy0wLjk1MSwwLTEuNzItMC43NzEtMS43Mi0xLjcyYzAtMC45NDksMC43Ny0xLjcxOSwxLjcyLTEuNzE5YzAuOTQ4LDAsMS43MTksMC43NzEsMS43MTksMS43MTkgQzExLjE2OCwxMC4zOCwxMC4zOTcsMTEuMTUxLDkuNDQ5LDExLjE1MXogTTIyLjAwNCwyMmgtMi45NDh2LTQuNjE2YzAtMS4xMDEtMC4wMi0yLjUxNy0xLjUzMy0yLjUxNyBjLTEuNTM1LDAtMS43NzEsMS4xOTktMS43NzEsMi40MzdWMjJoLTIuOTQ4di05LjQ5MmgyLjgzdjEuMjk3aDAuMDRjMC4zOTQtMC43NDYsMS4zNTYtMS41MzMsMi43OTEtMS41MzMgYzIuOTg3LDAsMy41MzksMS45NjYsMy41MzksNC41MjJWMjJ6Ij48L3BhdGg+PC9zdmc+"
							alt="img Team">
						  </a>
						  <p>Apoyo al CEO en la gestión de cronogramas e hitos para varias organizaciones; asegurando que los hitos semanales del proyecto sean rastreados y cumplidos y que el software para el seguimiento detallado de tareas. </p>
						</div>
				</div>
			</div>
		</div>
	</main>


{% endblock content %}
