{% extends "base_español.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/inicio_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">
	<h3 class="centrar-texto">Novedades</h3></br>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__texto">
			<h4 class="no-margin">STEM Teaching and Training</h4>
			<p>Dado que Open Build es un miembro activo de la comunidad de código abierto, nos apasiona profundamente contribuir a la difusión del aprendizaje y el conocimiento de las tecnologías de código abierto, tanto de software como de hardware, en nuestras comunidades locales.</p>
			<p>Nuestros desarrolladores, especialistas técnicos y analistas ofrecen su tiempo como voluntarios para trabajar con organizaciones y escuelas locales para impartir cursos basados en STEM en sus comunidades locales.</p>
			<p class="pright">Por favor, siéntase libre de <a href="https://github.com/open-build/">Únete a nuestra comunidad</a>.</p>


		</div>

		<div class="sobre-nosotros__imagen">
			<picture>
				<img class="team" src="{% static 'img/novedades.png' %}" alt="img Partners">
			</picture>
		</div>


	</div>
</main>



{% endblock content %}
