{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<h3 class="centrar-texto">Portfolio</h3></br>

<div class="portafolio">
	<div class="portafolio__imagen">
		<picture>
			<img class="team" src="{% static 'img/negocio.png' %}" alt="img Partners">
		</picture>
	</div>

	<div class="portafolio__informacion">

		<a class="text_buttom" href="https://www.nullrecords.com">
			<h4>Null Records</h4>
		</a>
		<p class="portafolio__descripcion">
			<em>Null Records</em> helps independent artists connect with fans and sponsors like never before. The collective power of a label organized as a collective of visual and musical artists managing their own channels and their own destiny.
    </p>
		   <img src="{% static 'img/nullR.png' %}" width="560" height="350" alt="img portfolio">
		</br>
		<a class="text_buttom" href="https://www.github.com/open_build/activity">
			<h4>Activity (TolaData Community Edition)</h4>
		</a>
		<p class="portafolio__descripcion">
			<em>Activity</em> is a fork from the TolaData Community Edition repository originaly build for Mercy Corps by the Open Build team.  It's a elegant and user friendly solution for non-profits to use to manage, monitor and track
			Program and Project acitivy, tasks and data.
		</p>
			 <img class="team" src="{% static 'img/activity.png' %}" alt="img portfolio">
		 </br>
 		<a class="text_buttom" href="https://www.github.com/open_build/activity">
 			<h4>CMS</h4>
 		</a>
 		<p class="portafolio__descripcion">
 			<em>CMS</em> is simplified Content Mangement System built by Open Build using open source libraries to be used in as a base not only for a brochure web site or blog, but as functional and data connected front end to any or all of your applications.
 		</p>
 			 <img class="team" src="{% static 'img/cms.png' %}" alt="img portfolio">
	</div>
</div>



{% endblock content %}
