{% extends "base_español.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/inicio_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="contenedor">
	<h3 class="centrar-texto">Portafolio</h3>
	<div class="portafolio">
		<picture>
			<img class="team" src="{% static 'img/4.png' %}" alt="img Partners">
		</picture>
		<div class="portafolio__informacion">

			<a class="text_buttom" href="Nulls_Records.html">
				<h4>Null Records</h4>
			</a>
			<p class="portafolio__descripcion">
			<em>Null Records</em> ayuda a los artistas independientes a conectarse con fanáticos y patrocinadores como nunca antes. El poder colectivo de un sello organizado como colectivo de artistas visuales y musicales gestionando sus propios canales y su propio destino.
			</p>
			<img class="team" src="{% static 'img/nullR.png' %}" width="560" height="350" alt="img Partners">
		</br>
		<a class="text_buttom" href="https://www.github.com/open_build/activity">
			<h4>Activity (TolaData Community Edition)</h4>
		</a>
		<p class="portafolio__descripcion">
			<em>Activity</em> es una bifurcación del repositorio TolaData Community Edition compilada originalmente para Mercy Corps por el equipo de Open Build. Es una solución elegante y fácil de usar para que las organizaciones sin fines de lucro la utilicen para administrar, monitorear y rastrear actividades, tareas y datos de programas y proyectos.
		</p>
			 <img class="team" src="{% static 'img/activity.png' %}" alt="img portfolio">
		 </br>
 		<a class="text_buttom" href="https://www.github.com/open_build/activity">
 			<h4>CMS</h4>
 		</a>
 		<p class="portafolio__descripcion">
 			<em>CMS</em> es un sistema de gestión de contenido simplificado creado por Open Build utilizando bibliotecas de código abierto para ser utilizado como base no solo para un sitio web de folleto o blog, sino como interfaz funcional y conectada a datos para cualquiera o todas sus aplicaciones.
 		</p>
 			 <img class="team" src="{% static 'img/cms.png' %}" alt="img portfolio">
		</div>
	</div>
</main>


{% endblock content %}
