{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="contenedor">
	<h2>Programs</h2>
    <!-- Primary Jumbotron for Program Description -->
    <div class="jumbotron bg-light rounded-3 d-flex align-items-center">
        <div class="image-container me-4">
            <img src="{% static 'img/join.webp' %}" alt="Program Description" style="max-width: 250px; height: auto;">
        </div>
        <div>
            <h1 class="display-5 fw-bold">Open Build's Global Research Initiative</h1>
            <ul>
                <li>Collaborative projects with international tech companies.</li>
                <li>Opportunities for U.S. students and junior developers to work on real-world problems.</li>
                <li>Focus on open-source software development and ethical AI practices.</li>
            </ul>
        </div>
    </div>
    <br/>
    <!-- Secondary Jumbotron for Mentor Signup -->
    <div class="jumbotron bg-light rounded-3 d-flex align-items-center">
        <div>
            <h2>Become a Mentor</h2>
            <p>Share your expertise and shape the next generation of tech innovators.</p>
            <ul>
                <li>Guide junior developers and students in complex projects.</li>
                <li>Provide valuable industry insights and technical knowledge.</li>
                <li>Contribute to nurturing a skilled and diverse tech workforce.</li>
            </ul>
            <a href="{% url 'apply-to-mentor' %}" class="btn btn-primary">Apply to Mentor</a>
        </div>
        <div class="image-container me-4">
            <img src="{% static 'img/mentor.webp' %}" alt="Mentor Signup" style="max-width: 250px; height: auto;">
        </div>
    </div>
    <br/>
    <!-- Secondary Jumbotron for Project Submission -->
    <div class="jumbotron bg-light rounded-3 d-flex align-items-center">
        <div class="image-container me-4">
            <img src="{% static 'img/program.webp' %}" alt="Project Submission" style="max-width: 250px; height: auto;">
        </div>
        <div>
            <h2>Propose a Project</h2>
            <p>Submit your project ideas for our students to tackle in open-source challenges.</p>
            <ul>
                <li>Bring innovative project ideas to life with fresh perspectives.</li>
                <li>Collaborate with upcoming talents in the tech industry.</li>
                <li>Contribute to open-source projects with real-world impact.</li>
            </ul>
            <a href="{% url 'submit-project' %}" class="btn btn-primary">Submit Your Project</a>
        </div>
    </div>

    <br>
    <div class="container">
        <p>Contact us to learn more about how our programs work, and the possibility to work together. Also, we are open to perspectives to develop separate programs together.</p>
    </div>
    <br>
    <div class="programs">
        <a href="/about/contact/" class="btn btn-primary">CONTACT US NOW</a>
    </div>
</main>
{% endblock content %}
