{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}


<main class="contenedor">

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__imagen">
			<nav class="navegation">
				<a href="/contact/" class="boton boton--secundario">Program #1</a>
				<a href="/faq/" class="boton boton--secundario">Sign here</a>
			  </nav>
			</br>
			<p> <strong>Software internships</br>
				for undeserved  communities in US Rural and Urban</br>
				Ukraine and Colombia</strong>
				<p>
					6 month on job training</p>
				<p>
					{} Courses from Open Build’s LMS system</p>
				<p>
					{} Front End and UI track, and Backend and Devops Track</p>
				<p>
					{} Cloud Infrastructure and Architecture</p>
				<p>
					{} Customer Support, Triage and Patch and Release Management</p>
				<p>
					{} Business skills</p>
				</br>

				<nav class="navegacion">
					<a href="/contact/" class="boton boton--secundario">Program #2</a>
					<a href="/faq/" class="boton boton--secundario">Sign here</a>
				  </nav>
				</br>
				<p><strong>
					Corporate Sponsor.</br>
                    Junior developer training</br>
                    Learning skills and sertification.</br>
					Fellowship</strong></p>
				<p>
					6-8 weeks training</p>
				<p>
						{} A junior developer from your team get's Cloud Native training and Open Build certification for release management process and tools</p>
				<p>
						{} A senior developer get Mentoship training and then real world cultural exchange opportunity to Mentor a team of Junior Developers.</p>
				<a href="/about/contact/" class="boton boton--secundario">Contact us</a>
		</div>

		<div class="sobre-nosotros__texto">
			<div class="entrada__contenido">
				<img class="guy" src="{% static 'img/programs.png' %}" alt="imagen nosotros">
			</div>
		</div>


	</div>
</main>

<div class="portafolio">
	<div class="portafolio__imagen">
		<picture>
			<img class="team" src="{% static 'img/code.png' %}" alt="img Partners">
		</picture>
	</div>

	<div class="portafolio__informacion">
			<h4>Contact us to learn more about how our programs work, and the possibility to work together. Also, we are open to perspectives to develop a separate programs together. </h4>
	</div>
	<a href="/about/contact/" class="boton boton--secundario">Contact us</a>
</div>


{% endblock content %}
