{% extends "base.html" %}
{% load static %}
<!--Artist page included here -->

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/submit_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="main">
  <div class="main-text">

    <div class="open-source">
      <h1>Music and Visual Artists</h1>
      <p>Submit your music or background visual art, for consideration on our streaming playlist and distribution.
        <br>
        <a href="/#contact">Get in touch with us here.</a>
      </p>      
    </div>

  </div>
</main>

{% endblock content %}
