{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__texto">
			Це неприбуткова організація, яка зосереджена на тому щоб навчати будувати бізнес, який модернізован та зосереджена на сталому зростанні та навчанні працівників.

		</div>

		<div class="sobre-nosotros__imagen">
            <img class="team" src="{% static 'img/ukraine_background.png' %}" alt="img Partners">
		</div>
	</div>

	<h3 class="centrar-texto">НАПРЯМКИ РОБОТИ</h3>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__texto">

			Ми навчаємо або допомогаємо підвищити кваліфікацію людям, які шукають роботу, та вчимо використовувати звичайні онлайн-інструменти для бізнесу.

			Основна увага Open Build в допомозі бізнесу та приватним особам, які шукають роботу в Україні, ми допомогаємо тим, хто зацікавлений у відновленні, за допомогою онлайн або хмарних бізнес-інструментів та навчання.
		</div>

		<div class="sobre-nosotros__texto">
			Ми допомогаємо малозабезпеченим групам населення, навчитися базовим і передовим технологічним навичкам як у підтримці та розробці програмного забезпечення в Інтернеті, так і в базових підприємницьких і ділових навичках. 

			Ми забезпечуємо базову бізнес-підготовку та навчання мовним курсам через безкоштовні онлайн-курси та портали.
		</div>
	</div>

</main>


{% endblock content %}
