{% extends "base_ukraine.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/ukraine_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="contenedor">

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__texto">
			Це неприбуткова організація, яка зосереджена на тому щоб навчати будувати бізнес, який модернізован та зосереджена на сталому зростанні та навчанні працівників.

		</div>

		<div class="sobre-nosotros__imagen">
            <img class="team" src="{% static 'img/ukraine_background.png' %}" alt="img Partners">
		</div>
	</div>

	<p class="stopwar">STOP</p>
	<p class="stopwar2"> WAR </p>

	<h3 class="centrar-texto">НАПРЯМКИ РОБОТИ</h3>

	<div class="sobre-nosotros">
		<div class="sobre-nosotros__texto">
			<h5>STEM, освіта та підвіщення кваліфікації IT спеціалістів.</h5>
			Ми навчаємо або допомогаємо підвищити кваліфікацію людям, які шукають роботу, та вчимо використовувати звичайні онлайн-інструменти для бізнесу.<br>

			<br>Основна увага Open Build в допомозі бізнесу та приватним особам, які шукають роботу в Україні, ми допомогаємо тим, хто зацікавлений у відновленні, за допомогою онлайн або хмарних бізнес-інструментів та навчання.


			<h5>Open Build допомагає малому бізнесу та некомерційним організаціям</h5>
			Ми надаємо компаніям можливість використовувати онлайн-навчання та програмне забезпечення для відновлення бізнесу за допомогою  маркетингу, продажу та управління бізнесом на місцевому та міжнародному рівні.
		</div>

		<div class="sobre-nosotros__texto">
			<h5>Допомога уразливим групам населення навчитися базовим знанням IT.</h5>
			Ми допомогаємо малозабезпеченим групам населення, навчитися базовим і передовим технологічним навичкам як у підтримці та розробці програмного забезпечення в Інтернеті, так і в базових підприємницьких і ділових навичках.<br>

			<br>Ми забезпечуємо базову бізнес-підготовку та навчання мовним курсам через безкоштовні онлайн-курси та портали.
			<h5>Колоборації між IT компаніями</h5>
			<br>Open Build Ukraine працює разом з іншими підрозділами організації. Наразі організація має діяльність у США та Південній Америці, зосереджену на навчанні з розробки програмного забезпечення для малозабезпечених спільнот.<br>

            <br>В минулому ми працювали з бізнесом, урядом та неурядовими організаціями, щоб навчати та будувати бізнеси, які модернізовані та зосереджені на сталому зростанні та навчанні працівників.
		</div>
	</div>

</main>


{% endblock content %}
