{% load i18n wagtailcore_tags %}
{% load static %}

<!--  -->
<br/>
<div class="container" id="slides">
  <div id="homeCarousel" class="carousel-light slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'img/screen-shot.png' %}" class="img-bottom" style="margin-left: 100px;margin-top: 20px">
        <div class="carousel-caption d-none d-md-block">
          <h2>Build with Insights</h2>
          <p>Buildly Insights let’s you <b>communicate with your remote development team</b> to build products that matter and ensure the quality is there for your product’s growth.</p>
          <a href="https://insights.buildly.io/register" class="boton boton--secundario">Register Now >></a>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'img/1.png' %}" class="img-bottom" style="float: right; margin-top: 80px">
        <div class="carousel-caption d-none d-md-block">
          <h2>Product Requirements Guide</h2>
          <p>Buildly Insights guides the requirement phase for the user by using <b>common language templates</b>.  Making it easier and faster to get started with confidnce on a new project, or a complex migration.</p>
          <a href="https://insights.buildly.io/register" class="boton boton--secundario">Register Now >></a>
          <br/>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'img/4.png' %}" class="img-bottom" style="width:800px; float: right; margin: 75px;">
        <div class="carousel-caption d-none d-md-block" style="width: 500px;">
          <h2>Idea Translation AI</h2>
            <p style="text-align: justify;">Buildly Insights AI <b>translates your product ideas into technical documentation</b>
              to speed up the development budgeting phase.
              <br/>
              <br/>
              Once the documentation is translated, import your features from Trello, and then
              use one of our other API integrations to share your technical tickets via GitHub (Available Now)
              or Jira (Coming Soon!)
              <br/>
              <br/>
              Now you can manage your development team, your requirements and your releases in the tools
              you know, but let <a href="https://insights.buildly.io">Buildly Insights</a> give you <b>control over your communication
              and planning your releases.</b>
            <a href="https://insights.buildly.io/register" class="boton boton--secundario">Register Now >></a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <br/>
  <br/>
  <br/>
<div class="container">


      <div class="Do_it text-center">
        <div class="card-body">
          <h2>How We Do It!</h2>
          <br/>
          <p class="card-text">Designed for product and remote development teams to  communicate better and build quickly.  We use our proprietary <br/> trained models and data to translate, suggest and create estimates and architectures so you can build with confidence <br/> or go to the development community with confidence in your product.</p>
          <img src="{% static 'img/' %}" width="800" alt="" style="border-radius: 1%;">
        </div>
        <div class="row mb-3">
          <div class="col"><img src="{% static 'img/notes 1.png' %}" width="38" alt=""><br/><br/>
            Guideded Requirement <br/> Gathering
          </div>
          <div class="col"><img src="{% static 'img/speech.png' %}" width="38" alt=""><br/><br/>
            AI Translates to <br/> Technical Document
          </div>
          <div class="col"><img src="{% static 'img/coding.png' %}" width="38" alt=""><br/><br/>
            Publish to internal <br/> Developer Portal or <br/> Share Externally
          </div>
          <div class="col"><img src="{% static 'img/rocket.png' %}" width="38" alt=""><br/><br/>
            Release and Change <br/> Management</div>
        </div>
      </div>
  <br/>

<main class="conteiner-home">
	<div class="container-commun">

		<div class="container-commun__text">
      <h4 class="card-title">Buildly Community</h4>
			<p>Open Build helps small business and non-profits benefit from open source software, and connect with a team of developers.</p>
			<p>We recruit, hire and educate software developers from all over the world to use open source software, learn best practices and processes to build better software and build there own agencies and companies to help benefit there local communities.</p>
			<p>If your interested in learning more about how open source and open build can help your company or organization. Get in touch with us.</p>
			<div class="entrada__contenido">
				<a href="/news/" class="button button--primary">Join our community</a>
			</div>
		</div>

    <div class="sobre-nosotros__imagen">
			<img class="guy" src="{% static 'img/bluedesk.png' %}" alt="imagen nosotros">
		</div>
	</div>
</main>

<main class="conteiner-home">
	<div class="container-commun">
    <div class="sobre-nosotros__imagen">
			<img class="guy" src="{% static 'img/bluedesk.png' %}" alt="imagen nosotros">
		</div>

    <div class="container-commun__text">
      <h4 class="card-title">Automated Communication</h4>
			<p>Open Build helps small business and non-profits benefit from open source software, and connect with a team of developers.</p>
			<p>We recruit, hire and educate software developers from all over the world to use open source software, learn best practices and processes to build better software and build there own agencies and companies to help benefit there local communities.</p>
			<p>If your interested in learning more about how open source and open build can help your company or organization. Get in touch with us.</p>
			<div class="entrada__contenido">
				<a href="/news/" class="button button--primary">Get Started</a>
			</div>
		</div>
	</div>
</main>

<main class="conteiner-home">
	<div class="container-commun">

		<div class="container-commun__text">
      <h4 class="card-title">Release Management</h4>
			<p>Open Build helps small business and non-profits benefit from open source software, and connect with a team of developers.</p>
			<p>We recruit, hire and educate software developers from all over the world to use open source software, learn best practices and processes to build better software and build there own agencies and companies to help benefit there local communities.</p>
			<p>If your interested in learning more about how open source and open build can help your company or organization. Get in touch with us.</p>
			<div class="entrada__contenido">
				<a href="/news/" class="button button--primary">Get Started with Buildly</a>
			</div>
		</div>

    <div class="sobre-nosotros__imagen">
			<img class="guy" src="{% static 'img/bluedesk.png' %}" alt="imagen nosotros">
		</div>
	</div>
</main>

<main class="conteiner-home">
	<div class="container-commun">
    <div class="sobre-nosotros__imagen">
			<img class="guy" src="{% static 'img/bluedesk.png' %}" alt="imagen nosotros">
		</div>

    <div class="container-commun__text">
      <h4 class="card-title">Product Ideas -> Built Fast</h4>
			<p>Open Build helps small business and non-profits benefit from open source software, and connect with a team of developers.</p>
			<p>We recruit, hire and educate software developers from all over the world to use open source software, learn best practices and processes to build better software and build there own agencies and companies to help benefit there local communities.</p>
			<p>If your interested in learning more about how open source and open build can help your company or organization. Get in touch with us.</p>
			<div class="entrada__contenido">
				<a href="/news/" class="button button--primary">Get Started</a>
			</div>
		</div>
	</div>
</div>
</main>
