{% load i18n wagtailcore_tags %}
{% load static %}


<!--  -->
<div style="background: url('{% static 'img/5.png' %}'); background-size: cover; height: 50rem; background-position: center center; background-repeat: no-repeat;">
  <div class="header__texto">
      <h1 class="no-margin">Create ideas</h1>
      <h2 class="no-margin">with us</h2>
  </div>
</div>

 <!--
<div id="popup" class="popup panel panel-primary">
    <img class="circular--square" src="{% static 'img/donate.png' %}" alt="popup">
    <div class="panel-footer">
        <button id="close" class="btn btn-lg btn-primary">Close button</button>
    </div>
</div>
-->

<div class="contenedor contenido-principal"
    <main class="About_us">
        <article class="entrada">
            <div class="entrada__imagen">

            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">Open Source</h4>
                <p>Open Build helps small business and non-profits benefit from open source software, and connect with a team of developers.</p>
            </br>
                <a href="/about/" class="boton boton--primario">More</a>
            </br>
            </div>

            <div class="entrada__contenido">
                <h4 class="no-margin">STEM Teaching and Training</h4>
                <p>With Open Build being an active member in the Open Source community.</p>
            </br>
                <a href="https://www.open.build/news/2022/01/29/the-new-open-build/" class="boton boton--primario">More</a>
            </br>
            </div>

        </article>

    </main>
    <aside class="sidebar">
        <h3></h3>

        <ul class="cursos no-padding">
            <li class="widget-curso">
                <h4 class="no-margin">Contribute</h4>
                <br>
                <script>(function() { var d = document, fr = d.createElement('script'); fr.type = 'text/javascript'; fr.async = true; fr.src = 'https://static.fundrazr.com/widgets/loader.js'; var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fr, s);})();</script>
                <div class="fr-widget" data-type="badge" data-variant="rectangle" data-width="300" data-url="https://fnd.us/donatenow-openbuild"><a href="https://fundrazr.com" target="_blank"><img src="//static.fundrazr.com/widgets/powered-by.png" alt="Powered by FundRazr" /></a></div>
            </li>

        </ul>
    </aside>
</div>

