{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

<main class="main">
  <div class="main-text">

    <div class="open-source">
      <h1>{% trans "Open Source" %}</h1>
      <p><img class="guy" src="{% static 'img/guy.png' %}" alt=""><em>Open Build</em> is non-profit company based in Oregon, USA.
        <br/>
        Our Mission is to help train software developers who are over looked in there local community or culture and looking for a place to belong.
        <br/>
        After training each developer is given internships and junior positions depending on experieince, and learns to work on a project with a team.
        <br/>
        Companies and organization from all over the world can hire Open Buld teams to work on there projects for discounted rates, and support either there local community by hiring a local team, or hire a remote team to work through our partnership with <a href="http://www.buildly.io">Buildly</a>.
      </p>
      <p>If your interested in learning more about how open source and open build can help your company or organization.  <a href="/#contact">Get in touch with us</a>.</p>
    </div>


  </div>
</main>

{% endblock content %}
