{% load i18n wagtailcore_tags %}
{% load static %}

<footer class="footer">
  <div class="contenedor">
      <div class="barra">
          <a class="logo" href="index.html">
              <h1 class="logo__nombre no-margin centrar-texto">Open<span class="logo__bold"> Build</span></h1>
          </a>

          <nav class="navegacion">
              <a href="index.html" class="navegacion__enlace">Home</a>
              <a href="portafolio.html" class="navegacion__enlace">Portafolio</a>
              <a href="foundry.html" class="navegacion__enlace">Foundry</a>
              <a href="About_us.html" class="navegacion__enlace">About</a>
              <a href="news.html" class="navegacion__enlace">News</a>
          </nav>
      </div>
  </div>
</footer>


</body>
</html>
