{% load i18n wagtailcore_tags %}
{% load static %}

<footer class="footer">
  <div class="contenedor">
      <div class="barra">
          <a class="logo" href="index.html">
              <h1 class="logo__nombre no-margin centrar-texto">Open<span class="logo__bold"> Build</span></h1>
          </a>

          <a href="{% url 'wagtailadmin_home' %}" class="navegacion__enlace">{% trans "Powered By Wagtail" %}</a>


          <nav class="navegacion">
              <a href="/home_page/" class="navegacion__enlace">{% trans "Inicio" %}</a>
              <a href="/portfolio/" class="navegacion__enlace">{% trans "Portafolio" %}</a>
              <a href="/foundry/" class="navegacion__enlace">{% trans "Fundiciones" %}</a>
              <a href="/news/"class="navegacion__enlace">{% trans "Novedades" %}</a>
              <a href="/about/" class="navegacion__enlace">About</a>
          </nav>
      </div>
  </div>
</footer>


</body>
</html>
