{% load i18n wagtailcore_tags %}
{% load static %}
<header class="header" style="background: url('/static/img/5.png'); background-size: cover; height: 70rem; background-position: center center; background-repeat: no-repeat;">

  <div id="cont" class="contenedor">


    <div class="dropdown">
        <button class="dropbtn">Version</button>
        <div class="dropdown-content">
          <a href="/inicio/">COL</a>
          <a href="/home/">USA</a>
        </div>
      </div>



      <div class="barra">
          <a class="logo" href="/home/">
              <h1 class="logo__nombre no-margin centrar-texto">Open<span class="logo__bold"> Build</span></h1>
          </a>

          <nav class="navegacion">
              <a href="/home/" class="navegacion__enlace">{% trans "Home" %}</a>
              <a href="/portfolio/" class="navegacion__enlace">{% trans "Portfolio" %}</a>
              <a href="/foundry/" class="navegacion__enlace">{% trans "Foundry" %}</a>
              <a href="/news/"class="navegacion__enlace">{% trans "News" %}</a>
              <a href="/about/" class="navegacion__enlace">About</a>
          </nav>
      </div>
  </div>

  <div class="header__texto">
      <h1 class="no-margin">Create ideas</h1>
      <h2 class="no-margin">with us</h2>
  </div>
</header>

<!--  -->
  <div class="contenedor contenido-principal">
      <main class="About_us">
          <h3></h3>

          <article class="entrada">
              <div class="entrada__imagen">

              </div>

              <div class="entrada__contenido">
                  <h4 class="no-margin">Open Source</h4>
                  <p>Open Build helps small business and non-profits benefit from open source software, and connect with a team of developers.</p>
                  <a href="About_us.html" class="boton boton--primario">More</a>
              </div>

              <div class="entrada__contenido">
                  <h4 class="no-margin">Contact</h4>
                  <a href="contac.html" class="boton boton--secundario">Contact us</a>
              </div>
          </article>

      </main>
      <aside class="sidebar">
          <h3></h3>

          <ul class="cursos no-padding">
              <li class="widget-curso">
                  <h4 class="no-margin">STEM Teaching and Training</h4>
                  <p>With Open Build being an active member in the Open Source community.</p>
                  <a href="news.html" class="boton boton--primario">More</a>
              </li>

          </ul>
      </aside>
  </div>


