{% load i18n wagtailcore_tags %}
{% load static %}
<header class="header">

  <div class="contenedor">


      <div class="barra">
          <a class="logo" href="index.html">
              <h1 class="logo__nombre no-margin centrar-texto">Open<span class="logo__bold"> Build</span></h1>
          </a>

          <nav class="navegacion">
              <a href="index.html" class="navegacion__enlace">Home</a>
              <a href="portafolio.html" class="navegacion__enlace">Portfolio</a>
              <a href="foundry.html" class="navegacion__enlace">Foundry</a>
              <a href="news.html" class="navegacion__enlace">News</a>
              <a href="welcome_page.html" class="navegacion__enlace">About</a>
          </nav>
      </div>
  </div>

</header>


