{% load i18n wagtailcore_tags %}
{% load static %}
<header class="header">

  <div id="cont">

      <div class="barra">
        <div class="logo">
          <a href="/">
            <img class="logo" src="{% static 'img/buildly-logo-white.png' %}" alt="">
          </a>
        </div>

        <nav class="navegacion">
            <a href="/" class="navegacion__enlace">{% trans "Home" %}</a>
            <a href="https://insights.buildly.io" class="navegacion__enlace">{% trans "Insights" %}</a>
            <a href="/foundry/" class="navegacion__enlace">{% trans "Foundry" %}</a>
            <a href="/news/" class="navegacion__enlace">{% trans "News" %}</a>
            <a href="/about/" class="navegacion__enlace">{% trans "About" %}</a>
        </nav>
      </div>
  </div>

  <div class="sidebar">
    <ul id="social-sidebar">
     <li>
       <a href="https://www.twitter.com/buildly_io" target="_new"><img src="{% static 'img/twt.png' %}" width="32" height="32"></a>
     </li>
     <li>
       <a href="https://www.facebook.com/buildlyio" target="_new"><img src="{% static 'img/facebook.png' %}" width="32" height="32"></a>
     </li>
     <li id="github">
       <a href="https://www.github.com/buildlyio" target="_new"><img src="{% static 'img/github.png' %}" width="32" height="32"></a>
     </li>
     <li>
       <a href="https://www.linkedin.com/company/buildlyio" target="_new"><img src="{% static 'img/linkedin.png' %}" width="32" height="32"></a>
     </li>
    </ul>
  </div>
</header>
