{% load i18n wagtailcore_tags %}
{% load static %}
<header class="header">

  <div id="cont">

    <nav class="navegacion">
      <a class="text_buttom" href="/inicio/">
        <img class="logo" src="{% static 'img/flag_COL.png' %}" width="20" height="20" alt="img Team">
      </a>
      <a class="text_buttom" href="/">
        <img class="logo" src="{% static 'img/flag_ukraine.png' %}" width="20" height="20" alt="img Team">
      </a>
      <a class="text_buttom" href="/">
        <img class="logo" src="{% static 'img/flag_USA.png' %}" width="20" height="20" alt="img Team">
      </a>
    </nav>

      <div class="barra">
          <a class="logo" href="/inicio/">
            <img class="logo" src="{% static 'img/logo.png' %}" width="90" height="35" alt="img Team">
          </a>

          <nav class="navegacion">
            <a href="/inicio/" class="navegacion__enlace">Inicio</a>
            <a href="/portfolio/" class="navegacion__enlace">Portafolio</a>
            <a href="/foundry/" class="navegacion__enlace">Fundidora</a>
            <a href="/novedades/"class="navegacion__enlace">Novedades</a>
            <a href="/about/" class="navegacion__enlace">Nosotros</a>
            <a href="https://www.paypal.com/donate/?hosted_button_id=N4LEGDDNB2PWC" class="boton2">DONAR</a>
        </nav>
      </div>
  </div>
</header>
