{% load i18n wagtailcore_tags %}
{% load static %}
<header class="header">

  <div id="cont" class="contenedor">

    <div class="dropdown">
        <button class="dropbtn">Version</button>
        <div class="dropdown-content">
          <a href="/inicio/">COL</a>
          <a href="/">USA</a>
        </div>
      </div>


      <div class="barra">
          <a class="logo" href="index.html">
              <h1 class="logo__nombre no-margin centrar-texto">Open<span class="logo__bold"> Build</span></h1>
          </a>

          <nav class="navegacion">
            <a href="/inicio/" class="navegacion__enlace">{% trans "Inicio" %}</a>
            <a href="/portafolio/" class="navegacion__enlace">{% trans "Portafolio" %}</a>
            <a href="/fundidora/" class="navegacion__enlace">{% trans "Fundidora" %}</a>
            <a href="/novedades/"class="navegacion__enlace">{% trans "Novedades" %}</a>
            <a href="/nosotros/" class="navegacion__enlace">{% trans "Nosotros" %}</a>
        </nav>
      </div>
  </div>
</header>
