:root{
    --red:#ff5758;
}

html {
    color: white;
    box-sizing: border-box;
    background-image: url("/static/img/disco.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #072103;
}

svg:not(:root) {
    overflow: hidden;
}

.logo a {
    display: block;
}

.nav {
    float: right;
}

.figure-logo {
    max-width: 150px;
    max-height: 55.1px;
}

.release-notes {
    font-size: 14px;
}

.main {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    height: 100%;
}

.figure-space {
    max-width: 265px;
}

@-webkit-keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

@keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

.egg {
    fill: #43b1b0;
    -webkit-animation: pos 3s ease infinite;
            animation: pos 3s ease infinite;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
}

.main-text {
    margin: 5px auto;
}

.video {
    width: 100%;
    margin: 40px auto;
    padding: 18px 18px 0px 18px;
    text-align: center;
    align-items: center;
    height: 370px;
}

.intro {
    width: 100%;
    margin: 5px auto;
    margin: 40px 0px;
    padding: 18px;
    text-align: center;
    height: 200px;
}
.intro h1{
    font-weight: bold;
    text-align: center;
}
.pright{
  text-align: right;
}
.nullrecords{
    color: #ff5757d0;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.66);
}

.main-text h1 {
    font-size: 2em;
}

.main-text p {
    margin: 15px auto 0;
}

.section1{
    display: flex;
    justify-content: space-around;
    
}

@media (max-width: 996px) {
    body {
        max-width: 780px;
    }
}

@media (max-width: 767px) {
    .option {
        flex: 0 0 50%;
    }
}

@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

#slider {color: rgb(255, 255, 255);}
   #slider #slide1 {background: rgba(0, 0, 0, 0.801); border-radius: 5px;}
   #slider #slide2 {background: rgba(0, 0, 0); border-radius: 5px;}
   #slider #slide3 {background: rgba(0, 0, 0); border-radius: 5px;}

#container{
  margin: auto;
  max-width: 840px;
  width: 100%;
  padding: 30px;
  height: 380px;
  box-sizing: border-box;
}

#container>p{
    margin-left: 60px;
}

#container > ul, li {
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

#container > ul#slider{
  position: relative;
  width: 500px;
  height: 200px;
  margin-top: 20px;
}

#container > ul#slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    padding: 20px;
    transition: opacity .5s;
    overflow: hidden;
}

#container > ul#slider li p{
  font-size: 20px;
}

#container > ul#slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

#container > ul#slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#container > .menu{
  text-align: center;
  margin-top: 10px;
  margin-left: 70px;
}

#container > .menu li{
  display: inline-block;
  text-align: center;
}

#container > .menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(201, 189, 189);
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

#slider img{
    width: 25px;
    padding: 0px;
    background-color: var(--red);
    border-radius: 20px;
    margin-right: 8px;
    margin-top: 5px;
}