html {
    color: white;
    box-sizing: border-box;
    background-image: url("/static/img/disco.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #072103;
}

svg:not(:root) {
    overflow: hidden;
}

.header {
    display: flex;
    position: fixed;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
    height: 70px;
    width: 100%;
}

.header-link{
    margin-bottom: 10px;
    padding-top: 23px;
    padding-left: 20px;
    width: 90px;
    height: 70px;
}
.head{
    width: 20px;
    font-size: 18px;
    font-weight: 900;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.66);
}
a.head{
    color: #ffffff;
}
.head:hover{
    color: #ff5758;
}

.logo{
    width: 135px;
    margin-right: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    /* background: linear-gradient(gray, rgb(255, 255, 255)); */
}

.logo a {
    display: block;
}

.nav {
    float: right;
}

.figure-logo {
    max-width: 150px;
    max-height: 55.1px;
}

.guy{
    max-width: 500px;
    max-height: 400px;
    float: left;
    margin: 0px;
}
.girl{
    max-width: 500px;
    max-height: 400px;
    float: right;
    margin-left: 29px;
}

.release-notes {
    font-size: 14px;
}

.main {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.figure-space {
    max-width: 265px;
}

@-webkit-keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

@keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

.egg {
    fill: #43b1b0;
    -webkit-animation: pos 3s ease infinite;
            animation: pos 3s ease infinite;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
}

.main-text {
    margin: 5px auto;
}

.video {
    width: 100%;
    margin: 40px auto;
    padding: 18px 18px 0px 18px;
    text-align: center;
    align-items: center;
    height: 370px;
}

.intro {
    width: 100%;
    margin: 5px auto;
    margin: 40px 0px;
    padding: 18px;
    text-align: center;
    height: 200px;
}
.intro h1{
    font-weight: bold;
    text-align: center;
}
.pright{
  text-align: right;
}
.nullrecords{
    color: #ff5757d0;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.66);
}

.main-text h1 {
    font-size: 2em;
}

.main-text p {
    margin: 15px auto 0;
}

.contats{
    height: 400px;
}
.contact{
    height: 100%;
    padding: 10px;
    width: 45%;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.contact h1{
    margin-top: 3px;
}
.inputxt{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    padding-left: 10px;
}
.inputcontainer{
    height: 40px;
    margin: 7px 0px;
}
.textareaa{
    width: 340px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.textacontainer{
    margin: 5px 0px;
}

.button{
    background-color: #D92707;
    border: none;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.option {
    display: block;
    padding: 10px 10px 10px 34px;
    position: relative;
    text-decoration: none;
}

.option svg {
    width: 24px;
    height: 24px;
    fill: gray;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 100%;
    top: 10px;
    left: 0;
    position: absolute;
}

.option h4 {
    font-size: 19px;
    text-decoration: underline;
}

.option p {
    padding-top: 3px;
    /* color: #231f20; */
    font-size: 15px;
    font-weight: 300;
}

@media (max-width: 996px) {
    body {
        max-width: 780px;
    }
}

@media (max-width: 767px) {
    .option {
        flex: 0 0 50%;
    }
}

@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

