:root {
  --fuenteHeading: 'Raleway', sans-serif;
  --fuenteParrafos: 'Raleway', sans-serif;

  --primario: #162944;
  --gris: #DCDCE0;
  --blanco: #ffffff;
  --negro: #121212;
  --calido: #F9943B;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;

}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
  background-image: linear-gradient(to bottom right, var(--blanco), var(--primario));
}
#cont{
  width: min(90%, 120rem);
  margin: 0 auto;
}

/** Globals **/
.contenedor {
  width: min(90%, 120rem);
  margin: 0 auto;
  padding: 50px;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--calido);
}
h1, h2, h3, h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

.header{
  background-color: var(--primario);
  color: var(--blanco);
}

.image_right {
  position: relative;
  top: 0px;
  right: 0px;
  vertical-align: top;
}

.logosocialmed bc{
  position: relative;
  top: 0px;
  right: 0px;
  width: 50px;
}

.header__texto {
 text-align: center;
 color: var(--primario);
 margin-top: 2rem;
}

@media (min-width: 768px) {
  .header__texto {
      margin-top: 15rem;
  }
}
.barra {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .barra {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
.logo {
  color: var(--calido); /** #FBBE63; other option**/
  width: 60px;
  padding-bottom: 4px;
}
.logo__nombre {
  font-weight: 400;
}
.logo__bold {
  font-weight: 700;
}
@media (min-width: 768px) {
  .navegacion {
      display: flex;
      gap: 2rem;
  }
}
.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: var(--blanco);
}

@media (min-width: 768px) {
  .contenido-principal {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 4rem;
  }
}

.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}

.team {
width: 150px;
}


.boton {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border-radius: 40px;
  border: none;
}

@media (min-width: 768px) {
  .boton {
      display: inline-block;

  }
}
.boton:hover {
  cursor: pointer;
}
.boton--primario {
  background-color: var(--primario);
}
.boton--secundario {
  background-color: var(--primario);
}



.footer {
  background-color: var(--primario);
  padding-bottom: 3rem;
  margin-top: 4rem;
}

/** About **/
@media (min-width: 768px) {
  .sobre-nosotros {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  }
}

/** portafolio **/
.portafolio {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px) {
  .portafolio {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
  }
}
.text_buttom{
  color: var(--negro);
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: #29586e;
  color: white;
  padding: 8px;
  font-size: 8px;
  border: none;
  border-radius: 10px;
  justify-content: flex-end;
  text-align: right; /* fix position */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #02364f;}

/* bootstrap Override */
.carousel-caption {
  top: 0;
  bottom: auto;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.card {
  padding: 15px;
}

.btn-success {
  background-color: var(--calido);
  border-color: var(--primario);
}

.btn-success: hover {
  background-color: var(--primario);
}

.d-block {
  width: 65em;
}


#social-sidebar {
  right: 0;
  position: fixed;
  top: 15%;
}

#social-sidebar a:hover {
  -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
  filter: grayscale(10%);
}

#social-sidebar img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#social-sidebar li {
  list-style: none;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: relative;
}

#github {
  background-color: white;
}
