html {
    box-sizing: border-box;
    /* background: linear-gradient(white, rgb(83, 147, 199)); */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

aside{
    float: right;
    position: fixed;
    right: 20px;
    margin-top: 25vh;
}
.logosocialmed{
    width: 30px;
    padding: 0px;
    border-radius: 4px;
}
aside div a img{
    background-color: white;
}

header, main, section, footer{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    color: #534f50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.40;
}

.donate {
  margin-left: auto;
  order: 2;
}

p {
  font-size: 1.2em;
}

a {
    background-color: transparent;
    color: #308282;
    text-decoration: none;
}

a:hover {
    color: #ea1b10;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

main {
    display: block; /* For IE11 support */
}

svg:not(:root) {
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CEC7C3;
    border-right: 1px solid #CEC7C3;
    background-color: ;
    background: #8aa99d50;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 0px;
}
.header-link{
    margin-bottom: 10px;
    padding-top: 23px;
    padding-left: 20px;
    width: 90px;
    height: 70px;
    transition: background-color .5s;
}
.head{
    color: white;
    width: 20px;
    font-size: 20px;
    font-weight: 900;
    height: 30px;
    margin-bottom: 10px;
}
.hl1{
    margin-left: 5px;
}
.hl2{
    margin-left: -5px;
}

.header-link:hover{
    background-color: rgba(210, 105, 30, 0.788);
}
.header a:hover{
    color: white;
}


.logo{
    width: 135px;/*  */
    margin-right: 60px;
}

.logo a {
    display: block;
}

.figure-logo {
    max-width: 150px;
    max-height: 55.1px;
}

.guy{
    max-width: 500px;
    max-height: 400px;
    float: left;
    margin: 0px;
}
.girl{
    max-width: 500px;
    max-height: 400px;
    float: right;
    margin-left: 29px;
}

.release-notes {
    font-size: 14px;
}

.main {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
}

.figure-space {
    max-width: 265px;
}

@-webkit-keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

@keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

.egg {
    fill: #43b1b0;
    -webkit-animation: pos 3s ease infinite;
            animation: pos 3s ease infinite;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
}

.main-text {
    margin: 5px auto;
}

.open-source {
    width: 100%;
    margin: 5px auto;
    border: 2px solid #e6e6e6;
    border-radius: 6px;
    margin: 40px 0px;
    padding: 18px;
    text-align: left;
    height: 490px;
}
.open-source h1{
    font-weight: bold;
    text-align: center;
}
.pright{
  text-align: right;
}





#slider {color: rgb(255, 255, 255);}
   #slider #slide1 {background-color: #a8d2f0; border-radius: 5px;}
   #slider #slide2 {background-color: #e6b781; border-radius: 5px;}
   #slider #slide3 {background-color: #b0ebbb; border-radius: 5px;}

#container{
  margin: auto;
  /* background-color: rgb(187, 186, 186); */
  max-width: 940px;
  width: 100%;
  padding: 30px;
  height: 380px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}

#container > ul, li {
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

#container > ul#slider{
  position: relative;
  width: 800px;
  height: 300px;
}

#container > ul#slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    padding: 20px;
    transition: opacity .5s;
   /*  background:rgb(139, 55, 55); */
}

#container > ul#slider li#slide1 img{
  float: left;
  margin: 20px;
  width: 200px;
  border-radius: 19px;
  background: #e0e0e0;
  box-shadow:  7px 7px 14px #888888,
             -7px -7px 14px #e7e5e5;
  /* box-shadow:  5px 5px 10px #888888,
             -5px -5px 10px #c2bfbf; */
}

#container > ul#slider li#slide2 img{
  float: right;
  margin: 0px;
  width: 200px;
}

#container > ul#slider li#slide3 img{
  float: left;
  margin: 0px;
  width: 200px;
}

#container > ul#slider li p{
  text-align: center;
  font-size: 40px;
}

#container > ul#slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

#container > ul#slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

#container > .menu{
  text-align: center;
  margin: 20px;
}

#container > .menu li{
  display: inline-block;
  text-align: center;
}

#container > .menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(201, 189, 189);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

/* #slide1{
  background-color: grey !important;
} */

#slider li #slide1{
  background-color: grey;
}




.main-text h1 {
    font-size: 2em;
}

.main-text p {
    margin: 15px auto 0;
}

.contats{
    height: 400px;
}
.contact{
    height: 100%;
    padding: 10px;
    width: 45%;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    /* border: 1px solid #ccc; */
    border-bottom: 2px solid #CEC7C3;
    border-right: 2px solid #CEC7C3;
    background-color: #8aa99d50;
}
.contact h1{
    margin-top: 3px;
}
.inputxt{
    height: 95%;
    width: 95%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    padding-left: 10px;
}
.inputcontainer{
    height: 40px;
    margin: 7px 0px;
}
.textareaa{
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.textacontainer{
    margin: 5px 0px;
}

.button{
    background-color: #D38246;
    border: none;
    width: 70px;
    height: 28px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.option {
    display: block;
    padding: 10px 10px 10px 34px;
    position: relative;
    text-decoration: none;
}

.option svg {
    width: 24px;
    height: 24px;
    fill: gray;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 100%;
    top: 10px;
    left: 0;
    position: absolute;
}

.option h4 {
    font-size: 19px;
    text-decoration: underline;
}

.option p {
    padding-top: 3px;
    color: #231f20;
    font-size: 15px;
    font-weight: 300;
}

@media (max-width: 996px) {
    body {
        max-width: 780px;
    }
}

@media (max-width: 767px) {
    .option {
        flex: 0 0 50%;
    }
}

@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

/* @media (max-width: 360px) {
    .header-link {
        max-width: 100px;
    }
} */
