:root {
  --fuenteHeading: 'Raleway', sans-serif;
  --fuenteParrafos: 'Raleway', sans-serif;


  --grey: #DCDCE0;
  --black: #272727;
  --main-color: #162944;
  --brand-color: #F9943B;
  --dark-color: #10113C;
  --mid-color: #3884FD;
  --light-color: #FFFFFF;


}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;

}
body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
  background-image: linear-gradient(to bottom right, var(--light-color));

}
#cont {
  width: min(90%, 120rem);
  margin: 0 auto;
}

#banner {
  max-height: 50px;
  background-color: var(--black);
  color: var(--light-color);
  padding: 0px;
}

#banner h5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.011em;
  color: var(--light-color);
}

.banner-text {
  color: var(--brand-color);
}

/** slides header **/

#slides {
  background-image: linear-gradient(to bottom, #F4F4F4, #F4F4F4);
  padding-bottom: 135px;
  border-radius: 0%;
  height: 604px;
}


#slides::before {
  content: "";
  background-image: url("/static/img/"); /** figma img dosnt work **/
  background-size: cover;
  position: absolute;
  top: 150px;
  right: 0px;
  bottom: 0px;
  left: 190px;
  opacity: 0.08;
  height: 820px;
}


#slides h2 {
  color: var(--black);
  font-weight: 700;
  font-size: 50px;
  left: 120px;
  top: 276px;
}

#slides p {
  color: #848280;
  font-weight: 400;
  font-size: 16px;
  left: -300px;
  top: 50px;
}


/** Globals **/
.conteiner-home {
  width: min(90%, 120rem);
  margin: 0 auto;
  padding: 50px 0px 200px 0px;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--calido);
}
p {
  font-weight: 400;
  font-size: 16px;
}
h1, h2, h3, h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
/** utilities **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.center-text {
  text-align: center;
}

.header{
  background: var(--light-color);
  color: var(--blanco);
}

.image_right {
  position: relative;
  top: 0px;
  right: 0px;
  vertical-align: top;
}

.logosocialmed bc{
  position: relative;
  top: 0px;
  right: 0px;
  width: 50px;
}

.header__tex {
 text-align: center;
 color: var(--primario);
 margin-top: 2rem;
}

@media (min-width: 768px) {
  .header__texto {
      margin-top: 15rem;
  }
}
.navbar{
  padding-top: 1rem;
  background: var(--light-color);
}

@media (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
.logo {
  width: 60px;
  padding-bottom: 4px;
}
.logo__nombre {
  font-weight: 400;
}
.logo__bold {
  font-weight: 700;
}

@media (min-width: 768px) {
  .navegation {
      display: flex;
      gap: 2rem;
  }
}
.navegation__link {
  display: flex;
  flex-direction: row;
  align-items:center;
  text-align:center;
  font-size: 16px;
  color: #848280;
}

.button2 {
  background-color: var(--brand-color);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 16px 41px;
  gap: 10px;

  width: 173px;
  height: 56px;
  left: 1147px;
  top: 82px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

   letter-spacing: 0.0025em;

}

.Do_it {
  border: none;
}

.card-body h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  /* identical to box height, or 175%*/

  letter-spacing: 0.011em;

  color: #0F0700;

  /* Line: border: 5px solid #F9943B;*/

}

/* div class="row mb-3"*/
.row {
  padding: 60px 0px 50px 0px;
  background: #FFFFFF;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.col {
  color: #848280;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */

  text-align: center;
  letter-spacing: 0.011em;
}

.card-text {

  height: 81px;

  top: 961px;

  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* or 169% */

  text-align: center;
  letter-spacing: 0.011em;

  color: #848280;
}

/* Buildly Community */

.card-title {
  width: 600px;
  height: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  border: none;
  letter-spacing: 0.011em;

  color: #0F0700;

}

.spacer {
  width: 494px;
  height: 392px;
  border: none;
}

@media (min-width: 768px) {
  .container-community {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 4rem;
  }
}

@media (min-width: 768px) {
  .container-commun {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  }
}

.img_front{
  position:absolute;
  width: 392px;
  height: 392px;
  top: 50px;
  left: 50px;
  z-index: 1;
}

.orangeB {
  position:absolute;
  width: 392px;
  height: 392px;
  top: 90px;
  left: 80px;
  z-index: -1;
}

.front_img {
  position:absolute;
  width: 392px;
  height: 392px;
  top: -50px;
  left: -50px;
  z-index: 1;
}

.orangeR {
  position:absolute;
  width: 392px;
  height: 392px;
  top: -20px;
  left: -80px;
  z-index: -1;
}

/* costumers */

/* Any Question: edit this session whith background-image: linear-gradient(to bottom, #F4F4F4, #F4F4F4);*/

.any{
  position:absolute;
  width: 365px;
  height: 420px;
  top: -100px;
  left: 160px;
  z-index: 1;
}

.questions{
  position:absolute;
  width: 365px;
  height: 420px;
  top: -100px;
  left: 160px;
  z-index: -1;
}

.card-questions {
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: 0.011em;
  color: #000000;
}

.line {
  padding: 0px 0px 0px 0px;
  width: 62px;
  height: 5px;
  background: #F07000;
  border-radius: 5px;
  border: 5px;
}

.line-grey {
  padding: 0px 0px 0px 0px;
  width: 126px;
  height: 1px;
  background: #BDBCBB;
  border-radius: 5px;
  border: 1px;

  float: center;
  margin-top: 60px
}

/* GET STARTED NOW */

.now {
  position:absolute;
  padding: 80px 0px 50px 0px;
  width: 950px;
  height: 359px;
  left: 130px;
  top: 4299px;
  background: #F07000;;
  border-radius: 50px;
  border: none;

  justify-content: space-between;
  align-items: center;
}

.c-body h2 {

  height: 70px;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.011em;
  color: var(--light-color);

}

.c-text {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.038em;
  color: var(--light-color);
}


.entrada {
  border-bottom: 1px solid var(--grey);
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}

.team {
width: 150px;
}


.button {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--light-color);
  text-align: center;
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2rem;
  border-radius: 40px;
}

@media (min-width: 768px) {
  .button{
      display: inline-block;

  }
}
.button:hover {
  cursor: pointer;
}
.button--primary{
  background-color: var(--mid-color);
  border-color: var(--brand-color);
}

.button--secondary {
  background-color: var(--brand-color);
  color: var(--light-color);
  border: none;
}

.button1 {
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--brand-color);
  text-align: center;
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2rem;
  border-radius: 40px;
  border: var(--brand-color);
  border-width: 30rem;
  background-color: var(--light-color);
}


.button--squere {
  color: var(--brand-color);
  background-color: var(--light-color);
  border: none;
  border-radius: 9.70323px;
}


/** About **/
@media (min-width: 768px) {
  .sobre-nosotros {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  }
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #02364f;}

/* bootstrap Override */
.carousel-caption {
  top: 0;
  bottom: auto;
  padding: 30px 30px 30px 30px;
}

.carousel-image {
  vertical-align: bottom;
  padding: 30px 30px 30px 30px;
}

.image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.community img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 300px;
}

.card {
  padding: 15px;
}

.btn-primary {
  background-color: var(--primario);
}

.btn-success {
  background-color: var(--calido);
  border-color: var(--primario);
}

.btn-success:hover {
  background-color: var(--primario);
}

.d-block {
  width: 65em;
}


#social-sidebar {
  left: -4;
  position: fixed;
  top: 16.5%;
}

#social-sidebar a:hover {
  -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
  filter: grayscale(10%);
}

#social-sidebar img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#social-sidebar li {
  list-style: none;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: relative;
}

#github {
  background-color: white;
}

/*footer*/
.row {
  border: none;
}
.col_white_amrc {
  color: #00131A;
  font-weight: 500;
  font-size: 19px;
  align-items:flex-end;
  text-align: left;
}
footer {
  padding: 300px 80px 0px 80px;
  width:100%;
  background-color:#FFFFFF;
  min-height:250px;
}
.logo-footer {
  width: 148px;
  height: 109.03px;
  left: 120px;
  top: 5747px;
}
.pt2 {
   padding-top:40px ;
   margin-bottom:20px ;
  }
footer p {
  font-size:13px;
  padding-bottom:0px;
  margin-bottom:8px;
  color: #848280;
}
.mb10 {
  padding-bottom:15px;
  text-align: left;
  color: #848280;
}
.footer_ul_amrc {
  margin:0px ;
  list-style-type:none ;
  font-size:14px;
  padding:0px 0px 10px 0px ;
  color: #848280;
}
.footer_ul_amrc li {
  padding:0px 0px 5px 0px;
}
.footer_ul_amrc li a{
  color:#CCC;
}
.footer_ul_amrc li a:hover{
  color:#fff;
  text-decoration:none;
}
.fleft {
  float:left;
}
.padding-right {
  padding-right:10px;
}

.footer_ul2_amrc {
  margin:0px; list-style-type:none;
  padding:0px;
}
.footer_ul2_amrc li p {
  display:table;
}
.footer_ul2_amrc li a:hover {
  text-decoration:none;
}
.footer_ul2_amrc li i {
  margin-top:5px;
}

.bottom_border {
  border-bottom:1px solid #323f45;
  padding-bottom:20px;
}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display:inline;
}
.foote_bottom_ul_amrc li a {
  color: #848280;
  margin:0 12px;
  position:relative;
  width: 391px;
  height: 27px;
  left: -120px;
  top: 6077px;

  font-weight: 200;
  font-size: 16px;
}

div#is-relative{
  max-width: 420px;
  position: relative;
}

#icon{
  position: absolute;
  display: block;
  bottom: .5rem;
  right: 1rem;

  user-select: none;
  cursor: pointer;
}
input.input{
  padding-right: 2.5rem;
}


