html {
    box-sizing: border-box;
    /* background: linear-gradient(white, rgb(83, 147, 199)); */
}



*,
*:before,
*:after {
    box-sizing: inherit;
}

aside{
    float: right;
    position: fixed;
    right: 20px;
    margin-top: 25vh;
}
.logosocialmed{
    width: 30px;
    padding: 0px;
    border-radius: 4px;
}
aside div a img{
    background-color: white;
}
 
header, main, section, footer{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    color: #231f20;
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    line-height: 1.25;
}

a {
    background-color: transparent;
    color: #308282;
    text-decoration: none;
}

a:hover {
    color: #ea1b10;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

main {
    display: block; /* For IE11 support */
}

svg:not(:root) {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    
}

.logo{
    width: 130px;/*  */
    margin-right: 20px;
}

.logo a {
    display: block;
}

.figure-logo {
    max-width: 150px;
    max-height: 55.1px;
}

.guy{
    max-width: 500px;
    max-height: 400px;
    float: left;
    margin: 0px;
}
.girl{
    max-width: 500px;
    max-height: 400px;
    float: right;
    margin-left: 29px;
}

.release-notes {
    font-size: 14px;
}

.main {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
}

.figure-space {
    max-width: 265px;
}

@-webkit-keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

@keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

.egg {
    fill: #43b1b0;
    -webkit-animation: pos 3s ease infinite;
            animation: pos 3s ease infinite;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
}

.main-text {
    margin: 5px auto;
}

.open-source {
    width: 100%;
    margin: 5px auto;
    border: 2px solid #e6e6e6;
    border-radius: 6px;
    margin: 40px 0px;
    padding: 18px;
    height: 490px;
}
.open-source h1{
    font-weight: bold;
}




@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  /* body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  } */
  
  .carousel {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }




.main-text h1 {
    font-size: 22px;
}

.main-text p {
    margin: 15px auto 0;
}

.contats{
    height: 400px;
}
.contact{
    height: 100%;
    padding: 10px;
    width: 45%;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.contact h1{
    margin-top: 3px;
}
.inputxt{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    padding-left: 10px;
}
.inputcontainer{
    height: 40px;
    margin: 7px 0px;
}
.textareaa{
    width: 340px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.textacontainer{
    margin: 5px 0px;
}

.button{
    background-color: rgb(124, 181, 214);
    border: none;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    padding: 10px;
}

.option {
    display: block;
    padding: 10px 10px 10px 34px;
    position: relative;
    text-decoration: none;
}

.option svg {
    width: 24px;
    height: 24px;
    fill: gray;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 100%;
    top: 10px;
    left: 0;
    position: absolute;
}

.option h4 {
    font-size: 19px;
    text-decoration: underline;
}

.option p {
    padding-top: 3px;
    color: #231f20;
    font-size: 15px;
    font-weight: 300;
}

@media (max-width: 996px) {
    body {
        max-width: 780px;
    }
}

@media (max-width: 767px) {
    .option {
        flex: 0 0 50%;
    }
}

@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

    .footer {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 360px) {
    .header-link {
        max-width: 100px;
    }
}
